@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.eot');
	src: url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype'), url('../fonts/Roboto-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-BlackItalic';
	src: url('../fonts/Roboto-BlackItalic.eot');
	src: url('../fonts/Roboto-BlackItalic.woff') format('woff'), url('../fonts/Roboto-BlackItalic.ttf') format('truetype'), url('../fonts/Roboto-BlackItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('../fonts/Roboto-BoldItalic.eot');
	src: url('../fonts/Roboto-BoldItalic.woff') format('woff'), url('../fonts/Roboto-BoldItalic.ttf') format('truetype'), url('../fonts/Roboto-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('../fonts/Roboto-LightItalic.eot');
	src: url('../fonts/Roboto-LightItalic.woff') format('woff'), url('../fonts/Roboto-LightItalic.ttf') format('truetype'), url('../fonts/Roboto-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url('../fonts/Roboto-MediumItalic.eot');
	src: url('../fonts/Roboto-MediumItalic.woff') format('woff'), url('../fonts/Roboto-MediumItalic.ttf') format('truetype'), url('../fonts/Roboto-MediumItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-RegularItalic';
	src: url('../fonts/Roboto-RegularItalic.eot');
	src: url('../fonts/Roboto-RegularItalic.woff') format('woff'), url('../fonts/Roboto-RegularItalic.ttf') format('truetype'), url('../fonts/Roboto-RegularItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url('../fonts/Roboto-Thin.eot');
	src: url('../fonts/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin.ttf') format('truetype'), url('../fonts/Roboto-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-ThinItalic';
	src: url('../fonts/Roboto-ThinItalic.eot');
	src: url('../fonts/Roboto-ThinItalic.woff') format('woff'), url('../fonts/Roboto-ThinItalic.ttf') format('truetype'), url('../fonts/Roboto-ThinItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'gyanum';
    src:  url('../fonts/gyanum.eot?eh75y6');
    src:  url('../fonts/gyanum.eot?eh75y6#iefix') format('embedded-opentype'),
      url('../fonts/gyanum.ttf?eh75y6') format('truetype'),
      url('../fonts/gyanum.woff?eh75y6') format('woff'),
      url('../fonts/gyanum.svg?eh75y6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
[class^="iconG-"], [class*=" iconG-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'gyanum' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  /*Custom Fonts For Icons*/
  .iconG-menu:before {
    content: "\e900";
  }
  .iconG-close:before {
    content: "\e901";
  }
  .iconG-chevron:before {
    content: "\e902";
  }
  .iconG-watch:before {
    content: "\e903";
  }
  .iconG-user:before {
    content: "\e904";
  }
  .iconG-shield:before {
    content: "\e905";
  }